# We're using the main branch of gnomad_method on github rather than the pip version
# TODO: Decide on how to handle this. We might just need to have more releases of gnomad_methods.
#git+https://github.com/broadinstitute/gnomad_methods@main
hail
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
nodejs
npm
jupyter_bokeh
