gnomad @ git+https://github.com/broadinstitute/gnomad_methods@main
hail
jupyter
jupyter_contrib_nbextensions
jupyter_nbextensions_configurator
jupyterlab
nodejs
npm
jupyter_bokeh
jupyter-server<2.0.0
